<% provide(:title, 'Spy Game') %>
<p>This is a test page!</p>
<a href="javascript:void(0)" onclick="exitApp();" data-role="button" data-icon="delete">Exit</a>
<a href="javascript:void(0)" onclick="remoteCmd('getPosition');" data-role="button" data-icon="star">Get Position!</a>
<a href="javascript:void(0)" onclick="remoteCmd('watchPosition');" data-role="button" data-icon="star">Track Position!</a>
<a href="javascript:void(0)" onclick="remoteCmd('clearWatch');" data-role="button" data-icon="star">Stop Tracking Position!</a>
