<% provide(:title, "Games") %>
<ul>
<% @games.each do |game| %>
<li><%= link_to 'Game '+game.id.to_s, game %>:
<% game.players.each do |player| %>
<%= player.user.name %>,
<% end %>
</li>
<% end %>
</ul>
<div data-role="navbar" data-iconpos="top" data-theme="a">
    <ul>
        <li>
            <a href="<%=new_game_path %>" data-theme="" data-icon="home">
                New Game
            </a>
        </li>
        <li>
            <a href="<%=signout_path%>" data-theme="" data-icon="back">
                Log Out
            </a>
        </li>
    </ul>
</div>