<% provide(:title, 'Map') %>
  <%= render 'map' %>
  <script type="text/javascript">
  document.game_id=<%=@game.id%>;
  watchPosition();
  </script>

	<div data-role="navbar" data-iconpos="top" data-theme="a">
        <ul>
            <li>
                <a href="#page4" data-theme="" data-icon="home">
                    Map
                </a>
            </li>
            <li>
                <a href="#" data-theme="" data-icon="plus">
                    Help
                </a>
            </li>
            <li>
                <a href="#" data-theme="" data-icon="back">
                    Quit
                </a>
            </li>
        </ul>
    </div>

  <div id="map_canvas" id="bg" > </div>