<% provide(:title, 'Map') %>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
  document.game_id=<%=@game.id%>;
  google.maps.event.addDomListener(window, 'load', initialize);
  watchPosition();
</script>
<div id="map_canvas" id="bg" style="width: 500px; height: 600px"></div>
