<% provide(:title, 'Map') %>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
  document.game_id=<%=@game.id%>;
  google.maps.event.addDomListener(window, 'load', initialize);
  watchPosition();
</script>
<div id="map_canvas" id="bg" style="width: 500px; height: 600px"></div>
  </script>

	<div data-role="navbar" data-iconpos="top" data-theme="a">
        <ul>
            <li>
                <a href="<%=game_main_path(@game)%>" data-theme="" data-icon="home">
                    Map
                </a>
            </li>
            <li>
                <a href="<%=games_path%>" data-theme="" data-icon="back">
                    Quit
                </a>
            </li>
        </ul>
    </div>
