<!--<MAIN GAME PAGE FOR SPY GAME -->
<!--*******************************-->

<% provide(:title, 'Home') %>
<head>
  <%= render 'map' %>
</head>


<body>
  <div id="map_canvas" id="bg" > </div>
</body>